.1_911 { 
	overflow:hidden;
}.e1_911 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:6424px;
	position:absolute;
}.e31_2 { 
	opacity:0.05000000074505806;
	width:1913px;
	height:6424px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e36_3 { 
	width:350px;
	height:380px;
	position:absolute;
	left:797px;
	top:1012px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1539 { 
	opacity:0.05000000074505806;
	width:1943px;
	height:6474px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1540 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1920px;
	height:887px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1545 { 
	box-shadow:0px 0px 10px rgba(111.35370880365372, 111.35370880365372, 111.35370880365372, 0.25);
	background-color:rgba(97.92265310883522, 214.62499290704727, 109.59287568926811, 1);
	width:772px;
	height:45px;
	position:absolute;
	left:916px;
	top:61px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e1_1546 { 
	width:1117.6226806640625px;
	height:763px;
	position:absolute;
	left:404.377197265625px;
	top:908px;
}.e1_1547 { 
	width:357.622802734375px;
	height:659px;
	position:absolute;
	left:0px;
	top:104px;
}.e1_1549 { 
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:55px;
	height:6px;
	position:absolute;
	left:0.6227949261665344px;
	top:506px;
}.e1_1550 { 
	transform: rotate(-2.936930005886243deg);
	color:rgba(64.00000378489494, 65.0000037252903, 73.00000324845314, 1);
	width:320.44287109375px;
	height:11.726608276367188px;
	position:absolute;
	left:0px;
	top:531.7072143554688px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_1551 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:350px;
	height:83px;
	position:absolute;
	left:0.6227949261665344px;
	top:576px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1548 { 
	width:350px;
	height:380px;
	position:absolute;
	left:7.622802734375px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1552 { 
	width:350px;
	height:153px;
	position:absolute;
	left:380.622802734375px;
	top:610px;
}.e1_1554 { 
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:55px;
	height:6px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1555 { 
	color:rgba(64.00000378489494, 65.0000037252903, 73.00000324845314, 1);
	width:175px;
	height:24px;
	position:absolute;
	left:0px;
	top:21px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_1556 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:350px;
	height:83px;
	position:absolute;
	left:0px;
	top:70px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1557 { 
	width:357px;
	height:659px;
	position:absolute;
	left:760.6226806640625px;
	top:104px;
}.e1_1559 { 
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:55px;
	height:6px;
	position:absolute;
	left:0px;
	top:506px;
}.e1_1560 { 
	color:rgba(64.00000378489494, 65.0000037252903, 73.00000324845314, 1);
	width:296px;
	height:24px;
	position:absolute;
	left:0px;
	top:527px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_1561 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:350px;
	height:83px;
	position:absolute;
	left:0px;
	top:576px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1558 { 
	width:350px;
	height:380px;
	position:absolute;
	left:7px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1562 { 
	color:rgba(64.00000378489494, 65.0000037252903, 73.00000324845314, 1);
	width:506px;
	height:43px;
	position:absolute;
	left:308.622802734375px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e14_67 { 
	width:350px;
	height:380px;
	position:absolute;
	left:412px;
	top:1012px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e14_66 { 
	width:350px;
	height:380px;
	position:absolute;
	left:1171.9998779296875px;
	top:1012px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1563 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1920px;
	height:181px;
	position:absolute;
	left:0px;
	top:1825px;
}.e1_1564 { 
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:1920px;
	height:181px;
	position:absolute;
	left:0px;
	top:0px;
}.1_1564 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_1565 { 
	color:rgba(255, 255, 255, 1);
	width:908px;
	height:57px;
	position:absolute;
	left:405px;
	top:30px;
	font-family:Oswald;
	text-align:left;
	font-size:48px;
	letter-spacing:2;
}.e1_1566 { 
	color:rgba(255, 255, 255, 1);
	width:562px;
	height:29px;
	position:absolute;
	left:405px;
	top:107px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:2;
}.e1_1567 { 
	width:208.24021911621094px;
	height:49px;
	position:absolute;
	left:1340px;
	top:73px;
}.e1_1568 { 
	background-color:rgba(255, 255, 255, 1);
	width:208.24021911621094px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.1_1568 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_1569 { 
	width:1110px;
	height:639px;
	position:absolute;
	left:405px;
	top:2156px;
}.e1_1570 { 
	color:rgba(0, 0, 0, 1);
	width:351px;
	height:43px;
	position:absolute;
	left:379px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_1571 { 
	width:350px;
	height:250px;
	position:absolute;
	left:0px;
	top:109px;
}.e1_1572 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:350px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1573 { 
	width:226px;
	height:31px;
	position:absolute;
	left:59px;
	top:154px;
}.e1_1574 { 
	color:rgba(0, 0, 0, 1);
	width:226px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:21px;
	letter-spacing:2;
}.e1_1575 { 
	width:350px;
	height:250px;
	position:absolute;
	left:380px;
	top:109px;
}.e1_1576 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:350px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1577 { 
	width:257px;
	height:31px;
	position:absolute;
	left:44px;
	top:154px;
}.e1_1578 { 
	color:rgba(0, 0, 0, 1);
	width:257px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:21px;
	letter-spacing:2;
}.e1_1579 { 
	width:350px;
	height:250px;
	position:absolute;
	left:760px;
	top:109px;
}.e1_1580 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:350px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1581 { 
	width:176px;
	height:93px;
	position:absolute;
	left:84px;
	top:129px;
}.e1_1582 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:93px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:21px;
	letter-spacing:2;
}.e1_1583 { 
	width:350px;
	height:250px;
	position:absolute;
	left:0px;
	top:389px;
}.e1_1584 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:350px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1585 { 
	width:168px;
	height:31px;
	position:absolute;
	left:88px;
	top:166px;
}.e1_1586 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:21px;
	letter-spacing:2;
}.e1_1587 { 
	width:350px;
	height:250px;
	position:absolute;
	left:380px;
	top:389px;
}.e1_1588 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:350px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1589 { 
	width:177px;
	height:31px;
	position:absolute;
	left:84px;
	top:166px;
}.e1_1590 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:21px;
	letter-spacing:2;
}.e1_1591 { 
	width:350px;
	height:250px;
	position:absolute;
	left:760px;
	top:389px;
}.e1_1592 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:350px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_71 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:31px;
	position:absolute;
	left:63px;
	top:166px;
	font-family:Oswald;
	text-align:center;
	font-size:21px;
	letter-spacing:2;
}.e1_1607 { 
	width:1450px;
	height:302px;
	position:absolute;
	left:244px;
	top:587px;
}.e1_1608 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:1110px;
	height:300px;
	position:absolute;
	left:169px;
	top:0px;
	border-top-left-radius:90px;
	border-top-right-radius:90px;
	border-bottom-left-radius:90px;
	border-bottom-right-radius:90px;
}.e1_1614 { 
	width:201px;
	height:187px;
	position:absolute;
	left:471px;
	top:39px;
}.e1_1615 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:190px;
	height:86px;
	position:absolute;
	left:11px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e1_1616 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:190px;
	height:22px;
	position:absolute;
	left:0px;
	top:165px;
	font-family:Oswald;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e1_1617 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:43px;
	position:absolute;
	left:0px;
	top:112px;
	font-family:Oswald;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e1_1618 { 
	width:190px;
	height:187px;
	position:absolute;
	left:752px;
	top:39px;
}.e1_1619 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:190px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e1_1620 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:190px;
	height:22px;
	position:absolute;
	left:0px;
	top:165px;
	font-family:Oswald;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e1_1621 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:43px;
	position:absolute;
	left:0px;
	top:112px;
	font-family:Oswald;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e1_1609 { 
	opacity:0.20000000298023224;
	width:1450px;
	height:300px;
	position:absolute;
	left:0px;
	top:2px;
}.e1_1623 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:216px;
	height:86px;
	position:absolute;
	left:1015px;
	top:39px;
	font-family:Oswald;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e1_1624 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:190px;
	height:22px;
	position:absolute;
	left:1018px;
	top:204px;
	font-family:Oswald;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e1_1625 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:43px;
	position:absolute;
	left:1015px;
	top:151px;
	font-family:Oswald;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e1_1626 { 
	width:730px;
	height:452px;
	position:absolute;
	left:405px;
	top:3824px;
}.e1_1627 { 
	color:rgba(0, 0, 0, 1);
	width:321px;
	height:53px;
	position:absolute;
	left:394px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_1628 { 
	width:330px;
	height:29px;
	position:absolute;
	left:0px;
	top:103px;
}.e1_1629 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:300px;
	height:29px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_1630 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:15.000000953674316px;
	top:11px;
}.e1_1631 { 
	width:694px;
	height:26px;
	position:absolute;
	left:0px;
	top:354px;
}.e1_1632 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:664px;
	height:26px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_1633 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:15.000000953674316px;
	top:11px;
}.e1_1634 { 
	width:330px;
	height:29px;
	position:absolute;
	left:0px;
	top:423px;
}.e1_1635 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:300px;
	height:29px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_1636 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:15.000000953674316px;
	top:11px;
}.e1_1637 { 
	width:730px;
	height:128px;
	position:absolute;
	left:0px;
	top:172px;
}.e1_1638 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:339px;
	height:26px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e1_1639 { 
	transform: rotate(-9.213866198408551e-15deg);
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:2px;
	top:11px;
}.e1_1640 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:730px;
	height:83px;
	position:absolute;
	left:0px;
	top:45px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1641 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1920px;
	height:364px;
	position:absolute;
	left:-2px;
	top:4364px;
}.e1_1642 { 
	background-color:rgba(84.7577503323555, 156.18750303983688, 83.30000415444374, 1);
	width:1920px;
	height:364px;
	position:absolute;
	left:0px;
	top:0px;
}.1_1642 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_1643 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:18px;
	position:absolute;
	left:947px;
	top:283px;
	font-family:Oswald;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_1644 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:30px;
	position:absolute;
	left:905px;
	top:301px;
	font-family:Oswald;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_1645 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:18px;
	position:absolute;
	left:637px;
	top:283px;
	font-family:Oswald;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_1646 { 
	color:rgba(255, 255, 255, 1);
	width:136px;
	height:30px;
	position:absolute;
	left:611px;
	top:301px;
	font-family:Oswald;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_1647 { 
	width:1110px;
	height:830px;
	position:absolute;
	left:405px;
	top:4830px;
}.e1_1648 { 
	color:rgba(0, 0, 0, 1);
	width:398px;
	height:53px;
	position:absolute;
	left:356px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_1649 { 
	width:350px;
	height:499px;
	position:absolute;
	left:0px;
	top:137px;
}.e1_1650 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:350px;
	height:452px;
	position:absolute;
	left:0px;
	top:4px;
}.e1_1651 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:42px;
	height:142px;
	position:absolute;
	left:28px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e1_1652 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:290px;
	height:363px;
	position:absolute;
	left:30px;
	top:84px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e1_1653 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:31px;
	position:absolute;
	left:0px;
	top:468px;
	font-family:Oswald;
	text-align:left;
	font-size:21px;
	letter-spacing:2;
}.e1_1654 { 
	width:374px;
	height:631px;
	position:absolute;
	left:380px;
	top:141px;
}.e1_1655 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:374px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1656 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:290px;
	height:499px;
	position:absolute;
	left:30px;
	top:80px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e1_1657 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:31px;
	position:absolute;
	left:30px;
	top:600px;
	font-family:Oswald;
	text-align:left;
	font-size:21px;
	letter-spacing:2;
}.e1_1658 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:42px;
	height:142px;
	position:absolute;
	left:28px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e1_1659 { 
	width:350px;
	height:689px;
	position:absolute;
	left:760px;
	top:141px;
}.e1_1660 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:350px;
	height:649px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1661 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:321px;
	height:569px;
	position:absolute;
	left:20px;
	top:80px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e1_1662 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:31px;
	position:absolute;
	left:0px;
	top:658px;
	font-family:Oswald;
	text-align:left;
	font-size:21px;
	letter-spacing:2;
}.e1_1663 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1920px;
	height:1587px;
	position:absolute;
	left:0px;
	top:4367px;
}.e1_1664 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(58.31939600408077, 115.81250354647636, 56.69986970722675, 1);
	width:1920px;
	height:181px;
	position:absolute;
	left:0px;
	top:1406px;
}.1_1664 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_1665 { 
	color:rgba(255, 255, 255, 1);
	width:586px;
	height:57px;
	position:absolute;
	left:405px;
	top:1436px;
	font-family:Oswald;
	text-align:left;
	font-size:48px;
	letter-spacing:2;
}.e1_1666 { 
	color:rgba(255, 255, 255, 1);
	width:524px;
	height:89px;
	position:absolute;
	left:690px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:60px;
	letter-spacing:2;
}.e1_1667 { 
	color:rgba(255, 255, 255, 1);
	width:562px;
	height:29px;
	position:absolute;
	left:405px;
	top:1526px;
	font-family:Oswald;
	text-align:left;
	font-size:24px;
	letter-spacing:2;
}.e1_1668 { 
	width:213.1284942626953px;
	height:49px;
	position:absolute;
	left:1340px;
	top:1479px;
}.e1_1669 { 
	background-color:rgba(255, 255, 255, 1);
	width:213.1284942626953px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.1_1669 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_1670 { 
	color:rgba(0, 0, 0, 1);
	width:119px;
	height:21px;
	position:absolute;
	left:70px;
	top:14px;
	font-family:Oswald;
	text-align:left;
	font-size:14px;
	letter-spacing:5;
}.e1_1671 { 
	color:rgba(0, 0, 0, 1);
	width:21.92178726196289px;
	height:21px;
	position:absolute;
	left:27px;
	top:14px;
	font-family:FontAwesome;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
}.e1_1672 { 
	width:1110px;
	height:349px;
	position:absolute;
	left:411px;
	top:5994px;
}.e1_1673 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:53px;
	position:absolute;
	left:476px;
	top:0px;
	font-family:Oswald;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e1_1674 { 
	width:255px;
	height:126px;
	position:absolute;
	left:0px;
	top:223px;
}.e1_1675 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:255px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_1676 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:72px;
	position:absolute;
	left:0px;
	top:54px;
	font-family:Oswald;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_1677 { 
	width:255px;
	height:90px;
	position:absolute;
	left:285px;
	top:223px;
}.e1_1678 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:255px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_1679 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:36px;
	position:absolute;
	left:0px;
	top:54px;
	font-family:Oswald;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_1680 { 
	width:255px;
	height:90px;
	position:absolute;
	left:570px;
	top:223px;
}.e1_1681 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:255px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_1682 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:36px;
	position:absolute;
	left:0px;
	top:54px;
	font-family:Oswald;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_1683 { 
	width:255px;
	height:90px;
	position:absolute;
	left:855px;
	top:223px;
}.e1_1684 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:255px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Oswald;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_1685 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:255px;
	height:36px;
	position:absolute;
	left:0px;
	top:54px;
	font-family:Oswald;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e1_1686 { 
	width:1920px;
	height:52px;
	position:absolute;
	left:0px;
	top:6372px;
}.e1_1687 { 
	background-color:rgba(64.00000378489494, 65.0000037252903, 73.00000324845314, 1);
	width:1920px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1688 { 
	color:rgba(255, 255, 255, 1);
	width:226px;
	height:22px;
	position:absolute;
	left:400px;
	top:11px;
	font-family:Open Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1689 { 
	color:rgba(255, 255, 255, 1);
	width:188px;
	height:22px;
	position:absolute;
	left:1327px;
	top:11px;
	font-family:Open Sans;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}.e1_1690 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.8999999761581421);
	color:rgba(97.92265310883522, 214.62499290704727, 109.59287568926811, 1);
	width:787px;
	height:224px;
	position:absolute;
	left:553px;
	top:203px;
	font-family:Oswald;
	text-align:center;
	font-size:72px;
	letter-spacing:5;
}.e1_1691 { 
	width:59px;
	height:74px;
	position:absolute;
	left:551px;
	top:2324px;
	background-image:url(images/37abd8f6d13aa65fe0101f879ae8f933_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1692 { 
	width:70px;
	height:66px;
	position:absolute;
	left:929px;
	top:2332px;
	background-image:url(images/pngwing_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1693 { 
	width:137px;
	height:124px;
	position:absolute;
	left:1266px;
	top:2278px;
	background-image:url(images/kisspng_hannibal_lecter_clarice_starling_straitjacket_cann_5ae52b53b20b86_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1694 { 
	width:150px;
	height:109px;
	position:absolute;
	left:502px;
	top:2579px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1695 { 
	width:97px;
	height:113px;
	position:absolute;
	left:909px;
	top:2579px;
	background-image:url(images/alcohol_beverage_drink_glass_jack_daniels_whiskey_bottle_icon_290504_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1696 { 
	width:99px;
	height:120px;
	position:absolute;
	left:1290px;
	top:2579px;
	background-image:url(images/hows_fgo_treating_you_grandorder_514867_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1697 { 
	width:200px;
	height:45px;
	position:absolute;
	left:850px;
	top:1725px;
}.e1_1698 { 
	box-shadow:0px 0px 10px rgba(111.35370880365372, 111.35370880365372, 111.35370880365372, 0.25);
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:200px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e1_1699 { 
	color:rgba(255, 255, 255, 1);
	width:128px;
	height:17px;
	position:absolute;
	left:36px;
	top:13px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e1_1710 { 
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:105px;
	height:105px;
	position:absolute;
	left:476px;
	top:4939px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_1701 { 
	width:98px;
	height:201px;
	position:absolute;
	left:731px;
	top:5680px;
}.e1_1711 { 
	width:99px;
	height:100px;
	position:absolute;
	left:479px;
	top:4942px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1702 { 
	width:255px;
	height:120px;
	position:absolute;
	left:1258px;
	top:6107px;
	background-image:url(images/img322.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1703 { 
	width:285px;
	height:120px;
	position:absolute;
	left:674px;
	top:6092px;
	background-image:url(images/img222.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1704 { 
	width:120px;
	height:139px;
	position:absolute;
	left:1069px;
	top:6073px;
	background-image:url(images/img11.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1705 { 
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:126px;
	height:109px;
	position:absolute;
	left:1238px;
	top:4944px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_1706 { 
	width:120px;
	height:103px;
	position:absolute;
	left:1241px;
	top:4947px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1707 { 
	background-color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:75px;
	height:101px;
	position:absolute;
	left:856px;
	top:4952px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_1708 { 
	width:69px;
	height:95px;
	position:absolute;
	left:859px;
	top:4955px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1709 { 
	color:rgba(108.0296927690506, 176.37499898672104, 114.86421883106232, 1);
	width:42px;
	height:142px;
	position:absolute;
	left:1195px;
	top:4966px;
	font-family:Oswald;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e1_1712 { 
	width:200px;
	height:45px;
	position:absolute;
	left:837px;
	top:5670px;
}.e1_1713 { 
	box-shadow:0px 0px 10px rgba(111.35370880365372, 111.35370880365372, 111.35370880365372, 0.25);
	background-color:rgba(73.00000324845314, 133.00000727176666, 255, 1);
	width:200px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e1_1714 { 
	transform: rotate(-0.7830131025157764deg);
	color:rgba(255, 255, 255, 1);
	width:127.99996948242188px;
	height:17.000381469726562px;
	position:absolute;
	left:35.88981628417969px;
	top:13.87540054321289px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e1_1725 { 
	color:rgba(17.00000088661909, 40.00000141561031, 75.00000312924385, 1);
	width:76px;
	height:22px;
	position:absolute;
	left:964px;
	top:75px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1726 { 
	color:rgba(17.00000088661909, 40.00000141561031, 75.00000312924385, 1);
	width:106px;
	height:22px;
	position:absolute;
	left:1113px;
	top:75px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1727 { 
	color:rgba(17.00000088661909, 40.00000141561031, 75.00000312924385, 1);
	width:67px;
	height:22px;
	position:absolute;
	left:1282px;
	top:75px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1728 { 
	color:rgba(17.00000088661909, 40.00000141561031, 75.00000312924385, 1);
	width:52px;
	height:22px;
	position:absolute;
	left:1422px;
	top:75px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1729 { 
	color:rgba(17.00000088661909, 40.00000141561031, 75.00000312924385, 1);
	width:182px;
	height:79px;
	position:absolute;
	left:1553px;
	top:74px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_1730 { 
	transform: rotate(90deg);
	width:45px;
	height:0px;
	position:absolute;
	left:1073.5px;
	top:61px;
}.1_1730 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_1731 { 
	transform: rotate(90deg);
	width:45px;
	height:0px;
	position:absolute;
	left:1246px;
	top:61px;
}.1_1731 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_1732 { 
	transform: rotate(90deg);
	width:45px;
	height:0px;
	position:absolute;
	left:1381px;
	top:61px;
}.1_1732 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_1733 { 
	transform: rotate(90deg);
	width:45px;
	height:0px;
	position:absolute;
	left:1512px;
	top:61px;
}.1_1733 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_1734 { 
	width:35px;
	height:38px;
	position:absolute;
	left:1362px;
	top:1904px;
	background-image:url(images/phone_png48972_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1735 { 
	color:rgba(0, 0, 0, 1);
	width:119px;
	height:21px;
	position:absolute;
	left:1410px;
	top:1912px;
	font-family:Oswald;
	text-align:left;
	font-size:14px;
	letter-spacing:5;
}.e1_1736 { 
	background-color:rgba(58.00000034272671, 116.00000068545341, 57.00000040233135, 1);
	width:153px;
	height:163px;
	position:absolute;
	left:319px;
	top:4475px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_1737 { 
	width:149px;
	height:159px;
	position:absolute;
	left:321px;
	top:4477px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1738 { 
	background-color:rgba(58.00000034272671, 116.00000068545341, 57.00000040233135, 1);
	width:153px;
	height:163px;
	position:absolute;
	left:1447px;
	top:4475px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_1739 { 
	background-color:rgba(58.00000034272671, 116.00000068545341, 57.00000040233135, 1);
	width:153px;
	height:163px;
	position:absolute;
	left:1165px;
	top:4475px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_1740 { 
	background-color:rgba(58.00000034272671, 116.00000068545341, 57.00000040233135, 1);
	width:153px;
	height:163px;
	position:absolute;
	left:883px;
	top:4475px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_1741 { 
	width:149px;
	height:159px;
	position:absolute;
	left:885px;
	top:4477px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1742 { 
	background-color:rgba(58.00000034272671, 116.00000068545341, 57.00000040233135, 1);
	width:153px;
	height:163px;
	position:absolute;
	left:601px;
	top:4475px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e1_1743 { 
	width:149px;
	height:159px;
	position:absolute;
	left:603px;
	top:4477px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1744 { 
	width:149px;
	height:159px;
	position:absolute;
	left:1167px;
	top:4477px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1745 { 
	width:149px;
	height:159px;
	position:absolute;
	left:1449px;
	top:4477px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/rectangle_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_1746 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:352px;
	top:4647px;
	font-family:Oswald;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_1747 { 
	color:rgba(255, 255, 255, 1);
	width:179px;
	height:30px;
	position:absolute;
	left:308px;
	top:4665px;
	font-family:Oswald;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_1748 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:18px;
	position:absolute;
	left:1207px;
	top:4647px;
	font-family:Oswald;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_1749 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:30px;
	position:absolute;
	left:1170px;
	top:4665px;
	font-family:Oswald;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_1750 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:18px;
	position:absolute;
	left:1484px;
	top:4643px;
	font-family:Oswald;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e1_1751 { 
	color:rgba(255, 255, 255, 1);
	width:231px;
	height:30px;
	position:absolute;
	left:1408px;
	top:4665px;
	font-family:Oswald;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_1752 { 
	width:203px;
	height:190px;
	position:absolute;
	left:423px;
	top:6033px;
	background-image:url(images/img229.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_3 { 
	width:1920px;
	height:837px;
	position:absolute;
	left:0px;
	top:2933px;
}.e31_4 { 
	background-color:rgba(92.84018263220787, 170.0000050663948, 90.66666886210442, 1);
	width:1920px;
	height:837px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:30px;
}.e31_5 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:480px;
	height:407px;
	position:absolute;
	left:0px;
	top:12px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_6 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:480px;
	height:407px;
	position:absolute;
	left:480px;
	top:12px;
}.e31_7 { 
	width:480px;
	height:407px;
	position:absolute;
	left:960px;
	top:12px;
	background-image:url(images/rectangle_3_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_8 { 
	width:480px;
	height:407px;
	position:absolute;
	left:1440px;
	top:12px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/rectangle_3_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_9 { 
	width:480px;
	height:407px;
	position:absolute;
	left:0px;
	top:419px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/rectangle_3_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_10 { 
	width:480px;
	height:407px;
	position:absolute;
	left:480px;
	top:419px;
	background-image:url(images/rectangle_3_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_11 { 
	width:480px;
	height:407px;
	position:absolute;
	left:960px;
	top:419px;
	background-image:url(images/rectangle_3_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_12 { 
	width:480px;
	height:414px;
	position:absolute;
	left:1440px;
	top:412px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/rectangle_3_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_13 { 
	width:480px;
	height:407px;
	position:absolute;
	left:960px;
	top:419px;
	background-image:url(images/photo_2022_05_27_17_34_42_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_14 { 
	width:480px;
	height:407px;
	position:absolute;
	left:480px;
	top:12px;
	background-image:url(images/rectangle_3_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_15 { 
	width:480px;
	height:407px;
	position:absolute;
	left:0px;
	top:2945px;
	border-radius:Symbol(figma.mixed)px;
	background-image:url(images/sticker_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}